@import url(../css/general/variables.css);
@import url(../css/general/header.css);
@import url(../css/general/footer.css);
@import url(../css/media/index-media.css);
@import url(../css/media/about-media.css);
* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/9.jpg);
  background-attachment: fixed;
  background-size: cover;
}
.background-image {
  width: 100%;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
}
.image-item {
  width: 33.3%;
  padding: 20px;
  border-radius: 5px;
  transition: 0.3s;
}
.image-item > img {
  cursor: pointer;
}

.image-item > img:hover {
  opacity: 0.7;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 70px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.719);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.history {
  width: 90%;
  margin-left: 5%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.history > a {
  text-decoration: none;
  color: black;
}
.history-item1 {
  height: 80px;
  text-align: center;
  font-size: 50px;
}
.history-item2 {
  width: 100%;
  height: 150px;
  background-color: rgb(190 163 163 / 41%);
  text-align: center;
  font-size: 20px;
  padding: 10px 0;
  box-shadow: 0px 0px 50px white;
  transition: 0.3s;
}
.history-item2:hover {
  cursor: pointer;
  box-shadow: 0px 0px 50px rgb(0, 0, 0);
}
#messageError {
  display: none;
  width: 70%;
  height: 500px;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(250, 0, 0);
  position: absolute;
}
.closeError {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ff0000;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeError:hover {
  color: rgb(0, 0, 0);
}
#messageOk {
  display: none;
  width: 70%;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(75, 189, 0);
  position: absolute;
}
.login-item {
  width: 200px;
  height: 50px;
  margin: 50px 38%;
  display: flex;
  justify-content: center;
  border: 1px green solid;
  align-items: center;
  cursor: pointer;
  background-color: honeydew;
  color: green;
  transition: 0.3s;
  box-shadow: 0 0 50px green;
}
.login-item:hover {
  background-color: green;
  color: honeydew;
}
.closeOk {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(75, 189, 0);
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeOk:hover {
  color: rgb(0, 0, 0);
}
.check {
  font-size: 80px;
}
#login-background {
  display: none;
  width: 70%;
  height: 500px;
  padding: 110px 0;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #5a5353f0;
  color: rgb(255, 255, 255);
  position: absolute;
}
.closeLogin {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeLogin:hover {
  color: green;
}
.passwordLogin {
  margin-top: 15px;
}
.general {
  width: 100%;
  display: flex;
  padding: 35px 0;
  flex-direction: column;
  justify-content: space-around;
}
#inp7 {
  border-radius: 50px;
  font-size: 27px;
  border: none;
  outline: none;
  box-shadow: 0 0 50px #ffffff;
}
#inp8 {
  border-radius: 50px;
  font-size: 27px;
  border: none;
  outline: none;
  box-shadow: 0 0 50px #ffffff;
}
#inp9 {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: green;
  cursor: pointer;
  box-shadow: 0 0 50px green;
  transition: 0.3s;
}
#inp9:hover {
  background-color: rgb(255, 255, 255);
  color: green;
  border: solid 3px green;
}
#messageLoginError {
  display: none;
  width: 70%;
  height: 500px;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(250, 0, 0);
  position: absolute;
}
.closeLoginError {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ff0000;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeLoginError:hover {
  color: rgb(0, 0, 0);
}
#messageLoginOk {
  display: none;
  width: 70%;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(75, 189, 0);
  position: absolute;
}

.closeLoginOk {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(75, 189, 0);
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeLoginOk:hover {
  color: rgb(0, 0, 0);
}
.checkLogin {
  font-size: 80px;
  color: orange;
}
@media screen and (max-width: 1440px) {
  .modal {
    overflow: auto;
  }
}
@media screen and (max-width: 1024px) {
  .history {
    height: 340px;
  }
  .history-item2 {
    height: 220px;
    padding: 25px 0;
  }
  .login-item {
    width: 200px;
    height: 50px;
    margin: 50px 34%;
  }
}

@media screen and (max-width: 768px) {
  .image-item {
    width: 50%;
  }
  .close {
    top: 35px;
    right: 17px;
    font-size: 25px;
  }
  .history {
    height: 660px;
  }
  .history-item1 {
    font-size: 40px;
  }
  .history-item2 {
    height: 560px;
    padding: 30px 20px;
  }
  .login-item {
    margin: 50px 27%;
  }
  #messageLoginError{
    padding: 80px 0;
  }
  .closeLoginError{
    top:25px;
    right: 15px;
    font-size: 30px;
  }
}
@media screen and (max-width: 560px) {
  .login-item {
    width: 160px;
    margin: 50px 25%;
  }
}
@media screen and (max-width: 510px) {
  #inp7 {
    font-size: 20px;
  }
  #inp8 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .login-item {
    width: 140px;
    margin: 50px 23%;
  }
}
@media screen and (max-width: 425px) {
  .image-item {
    width: 100%;
  }
  .history {
    height: 650px;
  }
  .history-item1 {
    font-size: 35px;
  }
  .history-item2 {
    height: 550px;
    padding: 25px 20px;
  }
  .login-item {
    width: 150px;
    height: 50px;
    margin: 50px 20%;
  }
}
@media screen and (max-width: 375px) {
  .history {
    height: 670px;
  }
  .history-item1 {
    font-size: 30px;
  }
  .history-item2 {
    height: 610px;
  }
  #login-background {
    padding: 62px 0;
    height: 360px;
  }
  .back-img img {
    width: 35%;
  }
  #inp7 {
    font-size: 13px;
  }

  #inp8 {
    font-size: 13px;
  }
  #inp9 {
    width: 95px;
  }
  .closeLogin {
    top: 15px;
    right: 17px;
    font-size: 33px;
  }
}
@media screen and (max-width: 325px) {
  .login-item {
    width: 130px;
    margin: 50px 17%;
  }
}
@media screen and (max-width: 320px) {
  .close {
    top: 40px;
    right: 10px;
    font-size: 20px;
  }
  .history {
    height: 750px;
  }
  .history-item1 {
    font-size: 27px;
  }
  .history-item2 {
    height: 700px;
    padding: 5px 15px;
  }
  #login-background {
    padding: 60px 0;
    height: 315px;
  }
  .back-img img {
    width: 37%;
  }
  #inp7 {
    font-size: 12px;
  }

  #inp8 {
    font-size: 12px;
  }
  #inp9 {
    width: 90px;
  }
  .closeLogin {
    top: 14px;
    right: 16px;
    font-size: 32px;
  }
}
@media screen and (max-width: 290px) {
  #login-background {
    padding: 55px 0;
    height: 300px;
  }
  .back-img img {
    width: 35%;
  }
  #inp7 {
    font-size: 10px;
  }

  #inp8 {
    font-size: 10px;
  }
  #inp9 {
    width: 80px;
  }
  .closeLogin {
    top: 13px;
    right: 15px;
    font-size: 30px;
  }
}
