@import url(../css/general/variables.css);
@import url(../css/general/header.css);
@import url(../css/general/footer.css);
@import url(../css/media/index-media.css);
* {
  box-sizing: border-box;
}
body {
  background-image: url(../img/background-contact.jpg);
  background-attachment: fixed;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}
