* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}
.menu .icon {
  display: none;
}
.menu-btn {
  width: 100%;
  background-color: #0000008f;
  padding: 0.7rem;
  border: none;
  display: block;
}
.menu-btn > img {
  cursor: pointer;
}
.menu-btn:hover {
  background-color: #489e4cd4;
}

.menu-content {
  display: none;
  background-color: #899e625e;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu-content a {
  color: rgb(77, 187, 25);
  padding-top: 0.7rem;
  text-decoration: none;
  display: block;
  text-align: center;
}

.menu-content a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}
