@import url(./css/general/variables.css);
@import url(./css/general/header.css);
@import url(./css/general/footer.css);
@import url(./css/media/index-media.css);

* {
  box-sizing: border-box;
}
body {
  background-color: #a1e5a1;
}
img {
  vertical-align: middle;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ddd;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--menu-bg-color);
}

.caption-container {
  text-align: center;
  background-color: #37c83778;
  padding: 2px 16px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.information {
  width: 90%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 20px;
}
.info-item1 {
  display: flex;
  justify-content: space-around;
}
.home-page1 {
  width: 45%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ddd;
}
.info-elem1 {
  width: 50%;
  height: 60px;
  margin-left: 25%;
  text-align: center;
  line-height: 60px;
  background-color: red;
  color: white;
}
.info-elem2 {
  width: 50%;
  height: 70px;
  margin-left: 25%;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.info-item2 {
  display: flex;
  justify-content: space-evenly;
}
.home-page2 {
  width: 30%;
  padding: 20px 0;
  height: 150px;
  background-color: #ddd;
}
.info-elem-1 {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-size: 50px;
  color: #00aced;
}
.info-elem-2 {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.info-item3 {
  display: flex;
  justify-content: space-around;
}
.home-page3 {
  width: 45%;
  height: 150px;
  padding: 20px 0;
  background-color: #ddd;
}
.info-item4 {
  display: flex;
  justify-content: center;
}
.home-page4 {
  width: 95%;
  height: 150px;
  padding: 20px 0;
  background-color: #ddd;
}
.covid-19 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  background-color: red;
  color: white;
}
@media (max-width: 768px) {
  .prev,
  .next {
    top: 19%;
  }
}
@media (max-width: 425px) {
  .prev,
  .next {
    padding: 20px;
    top: 10%;
    margin-top: 10px;
    font-size: 25px;
  }
}
@media (max-width: 320px) {
  .prev,
  .next {
    padding: 15px;
    top: 10%;
    margin-top: 15px;
    font-size: 15px;
  }
}
@media (max-width: 1440px) {
  .info-elem1 {
    font-size: 13px;
  }
  .info-elem2 {
    font-size: 13px;
  }
  .covid-19 {
    font-size: 18px;
  }
}
@media (max-width: 1024px) {
  .info-elem1 {
    font-size: 13px;
  }
  .info-elem2 {
    width: 98%;
    margin-left: 2%;
    font-size: 13px;
  }
  .covid-19 {
    font-size: 13px;
  }
}
@media (max-width: 768px) {
  .info-elem1 {
    width: 80%;
    margin-left: 10%;
    font-size: 13px;
  }
  .info-elem2 {
    width: 99%;
    margin-left: 0.5%;
    font-size: 13px;
  }
  .covid-19 {
    height: 50px;
    line-height: 25px;
  }
  .info-elem-1 {
    font-size: 25px;
  }
  .info-elem-2 {
    width: 98%;
    font-size: 13px;
    margin-left: 2%;
  }
}
@media (max-width: 425px) {
  .information {
    height: 700px;
  }
  .home-page1 {
    width: 48%;
    height: 200px;
  }
  .info-elem1 {
    width: 90%;
    margin-left: 5%;
    font-size: 13px;
  }
  .info-elem2 {
    width: 99%;
    margin-left: 0.5%;
    font-size: 13px;
  }
  .covid-19 {
    height: 58px;
    line-height: 25px;
  }
  .info-elem-1 {
    font-size: 25px;
  }
  .info-elem-2 {
    width: 98%;
    font-size: 13px;
    margin-left: 2%;
  }
}
@media (max-width: 375px) {
  .home-page1 {
    height: 225px;
  }
  .info-elem1 {
    line-height: 25px;
    height: 55px;
  }

  .covid-19 {
    line-height: 20px;
    height: 70px;
  }
}
