@import url(./css/general/variables.css);
@import url(./css/general/header.css);
@import url(./css/general/footer.css);
@import url(./css/media/index-media.css);

* {
  box-sizing: border-box;
}
body {
  background-color: #a1e5a1;
}
img {
  vertical-align: middle;
}

.container {
  position: relative;
}

.mySlides {
  display: none;
}

.cursor {
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 25%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #ddd;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--menu-bg-color);
}

.caption-container {
  text-align: center;
  background-color: #37c83778;
  padding: 2px 16px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 16.66%;
}

.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.information {
  width: 90%;
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
  margin-top: 20px;
}
.info-item1 {
  display: flex;
  justify-content: space-around;
}
.home-page1 {
  width: 45%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ddd;
}
.info-elem1 {
  width: 50%;
  height: 60px;
  margin-left: 25%;
  text-align: center;
  line-height: 60px;
  background-color: red;
  color: white;
}
.info-elem2 {
  width: 50%;
  height: 70px;
  margin-left: 25%;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.info-item2 {
  display: flex;
  justify-content: space-evenly;
}
.home-page2 {
  width: 30%;
  padding: 20px 0;
  height: 150px;
  background-color: #ddd;
}
.info-elem-1 {
  width: 50%;
  margin-left: 25%;
  text-align: center;
  font-size: 50px;
  color: #00aced;
}
.info-elem-2 {
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.info-item3 {
  display: flex;
  justify-content: space-around;
}
.home-page3 {
  width: 45%;
  height: 150px;
  padding: 20px 0;
  background-color: #ddd;
}
.info-item4 {
  display: flex;
  justify-content: center;
}
.home-page4 {
  width: 95%;
  height: 150px;
  padding: 20px 0;
  background-color: #ddd;
}
.covid-19 {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
  background-color: red;
  color: white;
}
#messageError {
  display: none;
  width: 70%;
  height: 500px;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(250, 0, 0);
  position: absolute;
}
.closeError {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ff0000;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeError:hover {
  color: rgb(0, 0, 0);
}
#messageOk {
  display: none;
  width: 70%;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(75, 189, 0);
  position: fixed;
}
.login-item {
  width: 200px;
  height: 50px;
  margin: 50px 38%;
  display: flex;
  justify-content: center;
  border: 1px green solid;
  align-items: center;
  cursor: pointer;
  background-color: honeydew;
  color: green;
  transition: 0.3s;
  box-shadow: 0 0 50px green;
}
.login-item:hover {
  background-color: green;
  color: honeydew;
}
.closeOk {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(75, 189, 0);
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeOk:hover {
  color: rgb(0, 0, 0);
}
.check {
  font-size: 80px;
}
#login-background {
  display: none;
  width: 70%;
  height: 500px;
  padding: 110px 0;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #5a5353f0;
  color: rgb(255, 255, 255);
  position: fixed;
}
.closeLogin {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeLogin:hover {
  color: green;
}
.passwordLogin {
  margin-top: 15px;
}
.general {
  width: 100%;
  display: flex;
  padding: 35px 0;
  flex-direction: column;
  justify-content: space-around;
}
#inp7 {
  border-radius: 50px;
  font-size: 27px;
  border: none;
  outline: none;
  box-shadow: 0 0 50px #ffffff;
}
#inp8 {
  border-radius: 50px;
  font-size: 27px;
  border: none;
  outline: none;
  box-shadow: 0 0 50px #ffffff;
}
#inp9 {
  width: 200px;
  height: 40px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: green;
  cursor: pointer;
  box-shadow: 0 0 50px green;
  transition: 0.3s;
}
#inp9:hover {
  background-color: rgb(255, 255, 255);
  color: green;
  border: solid 3px green;
}
#messageLoginError {
  display: none;
  width: 70%;
  height: 500px;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(250, 0, 0);
  position: fixed;
}
.closeLoginError {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #ff0000;
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeLoginError:hover {
  color: rgb(0, 0, 0);
}
#messageLoginOk {
  display: none;
  width: 70%;
  height: 500px;
  padding: 100px 0;
  text-align: center;
  font-size: 15px;
  top: 80px;
  left: 15%;
  background: #ffffff;
  color: rgb(75, 189, 0);
  position: fixed;
}

.closeLoginOk {
  position: absolute;
  top: 15px;
  right: 35px;
  color: rgb(75, 189, 0);
  font-size: 40px;
  cursor: pointer;
  transition: 0.3s;
}

.closeLoginOk:hover {
  color: rgb(0, 0, 0);
}
.checkLogin {
  font-size: 80px;
  color: orange;
}
/* notification */
.notification-background {
  width: 500px;
  height: 120px;
  border: white 5px solid;
  text-align: center;
  background-color: #bca17ca3;
  position: fixed;
  right: 6%;
  top: 425px;
  border-radius: 20px 0;
  display: none;
}
.hide {
  display: block;
  z-index: 123;
}

.background-item {
  width: 20%;
  display: none;
  height: 80px;
  background-color: #bca17ca3;
  border: none;
  position: fixed;
  border-radius: 35px 0;
  right: 3%;
  top: 440px;
  z-index: 99;
}

.notification-icon {
  width: 60px;
  height: 60px;
  border: solid 5px white;
  line-height: 60px;
  right: 3%;
  top: 530px;
  border-radius: 50%;
  position: fixed;
  font-size: 35px;
  text-align: center;
  background-color: #bca17ca3;
}
.notification-number {
  font-size: 25px;
  color: red;
  right: 3.8%;
  font-weight: 700;
  top: 510px;
  position: fixed;
}
.notification-delete {
  width: 150px;
  margin-left: 62%;
  cursor: pointer;
  border: 1px solid;
  border-radius: 50px;
  background: white;
  transition: 0.3s;
}
.notification-delete:hover {
  background: rgba(255, 0, 0, 0.966);
  color: white;
}
.notification-icon i {
  color: #efff00;
  cursor: pointer;
}
.notification-icon:hover {
  box-shadow: 0 0 50px rgb(255, 255, 255);
}
.notification-icon:hover > i {
  color: white;
}
.notification-item {
  left: 0;
  top: 10px;
  position: absolute;
}
.paragraph {
  position: absolute;
  left: 65px;
  font-size: 20px;
  top: 25px;
}
.notification-close {
  right: 0;
  top: 0;
  cursor: pointer;
  color: #23241f;
  font-size: 20px;
  position: absolute;
}
.notification-close:hover > i {
  color: rgb(122, 122, 7);
}

@media (max-width: 1440px) {
  .info-elem1 {
    font-size: 13px;
  }
  .info-elem2 {
    font-size: 13px;
  }
  .covid-19 {
    font-size: 18px;
  }
}
@media screen and (max-width: 1270px) {
  .notification {
    display: none;
  }
}
@media (max-width: 1024px) {
  .info-elem1 {
    font-size: 13px;
  }
  .info-elem2 {
    width: 98%;
    margin-left: 2%;
    font-size: 13px;
  }
  .covid-19 {
    font-size: 13px;
  }
  .login-item {
    width: 200px;
    height: 50px;
    margin: 50px 34%;
  }
}
@media (max-width: 768px) {
  .info-elem1 {
    width: 80%;
    margin-left: 10%;
    font-size: 12px;
  }
  .info-elem2 {
    width: 99%;
    margin-left: 0.5%;
    font-size: 12px;
  }
  .covid-19 {
    height: 60px;
    line-height: 28px;
  }
  .info-elem-1 {
    font-size: 22px;
  }
  .info-elem-2 {
    width: 98%;
    font-size: 12px;
    margin-left: 2%;
  }
  .prev,
  .next {
    top: 19%;
  }
  .login-item {
    margin: 50px 27%;
  }
  #messageLoginError {
    padding: 80px 0;
  }
  .closeLoginError {
    top: 25px;
    right: 15px;
    font-size: 30px;
  }
}
@media screen and (max-width: 560px) {
  .login-item {
    width: 160px;
    margin: 50px 25%;
  }
}
@media screen and (max-width: 510px) {
  #inp7 {
    font-size: 20px;
  }
  #inp8 {
    font-size: 20px;
  }
}
@media screen and (max-width: 500px) {
  .login-item {
    width: 140px;
    margin: 50px 23%;
  }
}
@media (max-width: 425px) {
  .information {
    height: 740px;
  }
  .home-page1 {
    width: 48%;
    height: 200px;
  }
  .info-elem1 {
    width: 90%;
    margin-left: 5%;
    font-size: 11px;
  }
  .info-elem2 {
    width: 99%;
    margin-left: 0.5%;
    font-size: 11px;
  }
  .covid-19 {
    height: 70px;
  }
  .info-elem-1 {
    font-size: 22px;
  }
  .info-elem-2 {
    width: 98%;
    font-size: 11px;
    margin-left: 2%;
  }
  .prev,
  .next {
    padding: 20px;
    top: 10%;
    margin-top: 10px;
    font-size: 25px;
  }
  .login-item {
    width: 150px;
    height: 50px;
    margin: 50px 20%;
  }
}

@media (max-width: 375px) {
  .home-page1 {
    height: 270px;
  }
  .info-elem1 {
    line-height: 30px;
    height: 70px;
  }

  .covid-19 {
    height: 80px;
  }
  #login-background {
    padding: 62px 0;
    height: 360px;
  }
  .back-img img {
    width: 35%;
  }
  #inp7 {
    font-size: 13px;
  }

  #inp8 {
    font-size: 13px;
  }
  #inp9 {
    width: 95px;
  }
  .closeLogin {
    top: 15px;
    right: 17px;
    font-size: 33px;
  }
}
@media screen and (max-width: 325px) {
  .login-item {
    width: 130px;
    margin: 50px 17%;
  }
}
@media (max-width: 320px) {
  .prev,
  .next {
    padding: 15px;
    top: 10%;
    margin-top: 15px;
    font-size: 15px;
  }
  #login-background {
    padding: 60px 0;
    height: 315px;
  }
  .back-img img {
    width: 37%;
  }
  #inp7 {
    font-size: 12px;
  }

  #inp8 {
    font-size: 12px;
  }
  #inp9 {
    width: 90px;
  }
  .closeLogin {
    top: 14px;
    right: 16px;
    font-size: 32px;
  }
}
@media screen and (max-width: 290px) {
  #login-background {
    padding: 55px 0;
    height: 300px;
  }
  .back-img img {
    width: 35%;
  }
  #inp7 {
    font-size: 10px;
  }

  #inp8 {
    font-size: 10px;
  }
  #inp9 {
    width: 80px;
  }
  .closeLogin {
    top: 13px;
    right: 15px;
    font-size: 30px;
  }
}
@media screen and (max-width: 270px) {
  #login-background {
    padding: 50px 0;
    height: 360px;
  }
  .back-img img {
    width: 32%;
  }
  #inp7 {
    font-size: 9px;
  }

  #inp8 {
    font-size: 9px;
  }
  #inp9 {
    width: 70px;
  }
  .closeLogin {
    top: 12px;
    right: 14px;
    font-size: 28px;
  }
}
