:root {
  --menu-bg-color: #f1f1f2;
  --menu-item-color: rgb(30 36 42);
  --menu-book-online-bg-color: rgb(202 204 207);
  --menu-book-online-hover-color: rgb(241 241 242);
  --menu-item-hover-color: rgb(144 161 166);
}
