@media screen and (max-width: 680px) {
  ul.menu li:not(:first-child) {
    display: none;
  }
  ul.menu li.icon {
    display: inline;
    float: right;
  }
}
@media screen and (max-width: 680px) {
  ul.menu.responsive {
    position: relative;
  }
  ul.menu.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.menu.responsive li {
    float: none;
    display: inline;
  }
  ul.menu.responsive li a {
    display: block;
    text-align: left;
  }
}
